 {{!-- 切换小图标 --}}
  <div class="view-mode">
    <i class="iconfont icon-list active"></i>
    <i class="iconfont icon-block"></i>
  </div>
  {{!-- 列表布局 --}}
  <div class="list-project-wrap project-wrap"></div>
  {{!-- 块布局 --}}
   <div class="block-project-wrap project-wrap"></div>
 