
  <div class="sub-header-wrap">
    <div class="sub-header-container">
      <div class="sub-nav-wrap"></div>
      <div class="view-mode">
          <i class="iconfont icon-list active"></i>
          <i class="iconfont icon-block"></i>
       </div>> 
    </div>
  </div>
  {{!-- <div class="project-wrap"></div> --}}
  {{!-- 列表布局 --}}
  <div class="list-project-wrap project-wrap"></div>
  {{!-- 块布局 --}}
   <div class="block-project-wrap project-wrap"></div>
 