 

.visual-container {
  margin-top: -60px;
  background: #fff;
  .sub-header-wrap{
    width: 100%;
    background-color: #31353a;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
    .sub-header-container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      .view-mode {
        display: flex;
        justify-content: flex-end;
        width: 400px;
      }
    }
  }
  .block-project-wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: none;
  }
}
