/*common css*/

/*base css*/
body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
ul,
ol,
li,
form,
input,
textarea,
th,
td,
select,
i {
  margin: 0;
  padding: 0;
  border:none;
}

em {
  font-style: normal;
}

li {
  list-style: none;

}

a {
  text-decoration: none;
}

html {
  height: 100%;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1
}
body {
  font-family: "微软雅黑";
  background: url(../images/bg.jpg);          
  background-size: 100% 100%;              
  transform-origin: 0 0 0;   
  -ms-transform-origin:0 0;    
  overflow: hidden;  
  color: #5e98cd;
  width: 2475px;
  height: 928px;
}
/*旋转动画*/
@keyframes rotate {
  0% {transform : rotate(0deg);}
  100% {transform : rotate(360deg);}
}

.no-data{
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding-top: 130px;
  display: none;
  position: absolute;
 
  width: 100%;
}
/*---滚动条大小--*/  
.header ::-webkit-scrollbar,
.search-lists ::-webkit-scrollbar{  
   width: 0px;  
   height: 10px;  
}  
/*---滚动框背景样式--*/  
.header ::-webkit-scrollbar-track,
.search-lists ::-webkit-scrollbar-track{  
   background-color:#051848;  
   -webkit-border-radius: 5px;  
}

/*---滚动条默认显示样式--*/  
.header ::-webkit-scrollbar-thumb,
.search-lists ::-webkit-scrollbar-thumb{  
   background-color:#fff;  
   height:10px;
   -webkit-border-radius: 20px;  
}
/*header 时间公用*/
.header{
  position: relative;
  z-index: 10;
  width: 100%;
}
/*时间控件*/
.select-time{
  display: none;
}
/*显示时间*/
.show-time{
  position: absolute; 
  right: 0; 
  top: 0; 
  width: 40px; 
  height: 40px; 
  cursor: pointer;
  z-index: 12;
}
/*时间选择*/
.header .select-time {
  background: url(../images/timeBg.png) no-repeat;
  width: 655px;
  height: 80px;
  top: 0;
  right: 20px;
  position: absolute;
  color: #fed64b;
  font-size: 26px;
  z-index: 10;
}
.header .default-time {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.header .default-time:hover{
  color: #e5b200;
}
.header .default-start-time {
  left: 0;
  padding: 0 70px;
}
.header .default-end-time {
  left: 287px;
  padding: 0 70px;
}
.header .choose-box {
  color: #d4dbf9;
  border: 1px solid #ebc74f;
  position: absolute;
  top: 58px;
  text-align: center;
  font-size: 26px;
  width: 228px;
  line-height: 50px;
  background: rgba(25, 36, 84, 0.8);
  cursor: pointer;
  padding: 5px 0;
  display: none;
  max-height: 300px;
  overflow: auto;
}
.header .choose-box p:hover{
  color: #fff;
}
.header .start-time {
  left: 36px;
}
.header .end-time {
  right: 100px;
}
/*查询按钮*/
.header .query-btn {
  
  width: 90px;
  height: 80px;
  position: absolute;
  right: -4px;
  top: 0;
  cursor: pointer;
}
.header .query-btn:hover{
  background: url(../images/query-btn.png) no-repeat;
}
/**
  弹出框样式
*/
.model-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: block;
  width: 2475px;
  height: 928px;
}
.model-body {
  position: relative;
 /* width: 1478px;*/
  width: 500px;
/*  height: 100px;*/
  top: 100px;
  left: 50%;
  margin-left: -250px;
 /*  margin-top: -50%;*/
  background: #000b4e;
  font-size: 32px;
  background-size: 100% 100%;
  text-align: center;
  line-height: 100px;
  color: #fff;
}
/*关闭按钮*/
.close-model{
  position: absolute;
  right: 968px;
  top: 86px;
  width: 46px;
  height: 46px;
  cursor: pointer;
 /* background:#243476 url(../images/close.png) no-repeat;
  border-radius: 50%;*/
  background: url(../images/close-btn.png) no-repeat;
}
/*标题*/
.title {
  float: left;
  width: 100%;
  font-size: 30px;
  color: #5e98cd;
  border-bottom: 1px solid #6db9ff;
  padding-bottom: 10px;
  height: 60px;
  line-height: 60px;
  font-weight: normal;
}
.title i{
  background: url(../images/mark2.png) no-repeat left center;
  width: 16px;
  height: 16px;
  display: inline-block;
  padding-right: 10px;
}
.title span {
  font-size: 32px;
  color: #fff;
  text-shadow: 0 0 5px #fff;
  padding-left: 20px;
}
/*轴线*/
.axis path,
.axis line{
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

/* X轴 */
.axis-x{
  fill: #fff;
  stroke-width: 1px;
}
.axis-x path, .axis-x line{
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
  opacity: 0.5;
}

.axis text {
  font-size: 20px;
  stroke: none;
  fill: #5e98cd;
}
/* 网格线 */
.inner_line path, .inner_line line{
  fill: none;
  stroke: #285c81;
  shape-rendering: crispEdges;
  opacity: 0.5;
}

.charts-tooltip{
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 8px;
  /*display: none;*/
  font-size: 24px;
  border-radius: 5px;
}
.charts-tooltip p{
  line-height: 24px;
}

/*执法通报查看全部 --可视化分析也在做*/ 
.all-enforceLaw{
  line-height: 44px;
  color: #10a0e8;
  font-size: 24px;
  overflow-y: auto;
  width: 98%;
  height: 672px;
  overflow-x: hidden;

}
/*---滚动条大小--*/  
.all-enforceLaw::-webkit-scrollbar{  
   width: 5px;  
   height: 10px;  
}  
/*---滚动框背景样式--*/  
.all-enforceLaw::-webkit-scrollbar-track{  
   background-color:#051848;  
   -webkit-border-radius: 5px;  
}
/*---滚动条默认显示样式--*/  
.all-enforceLaw::-webkit-scrollbar-thumb{  
   background-color:#fff;  
   height:10px;
   -webkit-border-radius: 20px;  
}
.enforceLaw-bg .model-body {
  background: url(../images/allbg.png) no-repeat;
  top: 50px;
  left: 50%;
  width: 883px;
  height: 772px;
  /*margin-top: -386px;*/
  margin-left: -441px;
  text-align: left;
}
.enforceLaw-bg .title{
  background: url(../images/all-titlebg.png) no-repeat;
  height: 52px;
  width: 855px;
  font-size: 26px;
  color: #a9cdff;
  margin: 8px 0 0 12px;
  padding-left: 55px;
}
.enforceLaw-bg .close-model, 
.czxw-bg .close-model{
  top: 42px;
  right: 787px;
}
.all-enforceLaw li {
  border-bottom: 1px solid #2655a3;
  margin-left: 5%;
  width: 90%;
  padding: 0 1%;
}
.all-enforceLaw li:first-child{
  font-size: 26px;
  color: #a9cdff;
  line-height: 50px;
}
.all-enforceLaw li:first-child a{
  color: #a9cdff;
}
.all-enforceLaw a {
  font-style: normal;
  float: right;
  padding-right: 10px;
  color: #10a0e8;
}
.all-enforceLaw a:hover{
  color: #fff;
}
.all-enforceLaw li span {
  float: right;
}