body{
 /* background: #040931;*/
 background: url(../images/bg.jpg);
  font-family: "微软雅黑";
}
/*轴线*/
.axis path,
.axis line{
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
  stroke: #ccc;
}
.inner_line path, .inner_line line{
  fill: none;
  stroke: #285c81;
  shape-rendering: crispEdges;
  opacity: 0.5;
}
#behaviorCount .inner_line path, .inner_line line{
  opacity: 0.8;
  stroke: #19116b;
}
.inner_line path.domain{
  stroke: none;
}
.axis-x{
  fill: #fff;
  stroke-width: 1px;
}
.axis-x path, .axis-x line{
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
  opacity: 0.5;
}

#brushBar .axis-x path, 
#brushBar2 .axis-x path, 
#rectBar2 .axis-x path, 
#sharpBar .axis-x path{
  stroke: #285c81;
}

.axis-x text{
  fill: #fff;
  font-size: 16px;
}
.tooltip{
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 8px;
  /*display: none;*/
}
.tooltip p{
  line-height: 24px;
}

/*面积图*/
#areaCharts{
  background: #020745;
  width: 800px;
  height: 400px;
  position: relative;
  z-index: 10;
}

#behaviorCount .axis-x path, 
#areaCharts .axis-x path, 
#behaviorCount .axis-x line, 
#areaCharts  .axis-x line {
  stroke-width: 2px;
} 
#behaviorCount .axis-x path, 
#areaCharts .axis-x path {
  stroke: #ac2ed3;
}
#behaviorCount .axis-x line, 
#areaCharts .axis-x line {
  stroke: #b7181f;
}

#closingTotal .axis-x text{
  fill: none;
}

/*案件受理*/
.case-acceptance{
  background: rgba(53, 19, 147, 0.12);
  width: 260px;
  height: 260px;
  position: relative;
}

.case-acceptance svg{
  background: url(../images/pieBg.png) no-repeat center center;
  position: absolute;
}

.case-acceptance .text{
  position: absolute;
  font-size: 26px;
  color: #64b4ff;
  text-align: center;
  width: 100%;
  line-height: 260px;
}