
<div class="fs-slider" id="fs-slider">
	{{#each this}}
		
			<figure>
					<img src="{{imgUrl}}"/>
					<figcaption>
							<a href="#"><h3>{{title}}</h3></a>
							<p>{{introduction}}</p>
					</figcaption>
				</figure>
			</a>	
	{{/each}}
</div>
<div class="footer-panel">
		<button>技侦可视化</button>
		<button>刑侦可视化</button>
		<button>情报可视化</button>
</div>  <!-- 首页 -->
