* {
  margin: 0;
  padding: 0;
}
/*公共布局*/
body {
  font-family: "微软雅黑";
  background-size: 100% 100%;
  transform-origin: 0px 0px 0px;
  overflow: hidden;
  width: 3456px;
  height: 1944px;
  position: relative;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 30px solid #00ffff;
  position: absolute;
  top: 40%;
  right: 10px;
  cursor: pointer;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 30px solid #00ffff;
  position: absolute;
  top: 40%;
  left: 10px;
  cursor: pointer;
}
/*[data-page^='page']{*/
/*display: none;*/
/*}*/
/*[data-page^='page']:nth-of-type(1) {*/
/*display: block;*/
/*}*/