/*轴线*/
.axis path,
.axis line {
  fill: none;
  stroke: none;
  //shape-rendering: crispEdges;
}

/* X轴 */
.axis-x {
  fill: #fff;
  stroke-width: 1px;
}

.axis-x path, .axis-x line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
  opacity: 0.5;
}

.axis-x path, .axis-y path {
  stroke: #285c81;
}

.axis text {
  font-size: 12px;
  stroke: none;
  fill: #fff;
}

/* 网格线 */
.inner_line path, .inner_line line {
  fill: none;
  stroke: #285c81;
  shape-rendering: crispEdges;
  opacity: 0.5;
}

/*提示框*/
.charts-tooltip {
  position: absolute;
  background: rgba(18, 46, 124, 0.3);
  color: #fff;
  padding: 8px;
  display: none;
  font-size: 14px;
  border-radius: 5px;
  z-index: 99;
  line-height: 24px;
}

.lineAreaChart text {
  fill: #b9b9b9;
  font-size: 13px;
}

.lineAreaChart .domain,
.meterBarChart .domain {
  stroke: #083962;
  stroke-width: 2;
}

.radarChart .legend tspan {
  font-size: 13px;
}

.meterBarChart .grid-line:nth-child(2n-1) {
  fill: #091947;
  opacity: 0.8;
}

.meterBarChart .meter text {
  font-size: 12px;
  fill: #ffffff;
  cursor: default;
}

.m-tooltip {
  opacity: 0;
}

.m-tooltip .tip-con {
  width: 60px;
  height: 30px;
  fill: #122e7c;
  opacity: 0.5;
}

.m-tooltip .tips {
  fill: #ffffff;
  font-size: 14px;
  text-anchor: middle;
}

