/*common css*/
html {
  height: 100%;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1
}
body {
  font-family: "微软雅黑";
  /*background: url(../images/bg.jpg);          */
  background-size: 100% 100%;              
  transform-origin: 0px 0px 0px;   
  -ms-transform-origin:0 0;    
  overflow: hidden;  
  color: #fff;
  width: 1920px;
  height: 1080px;
}
@font-face {
  font-family: digifacewide;
  src: url(../../fonts/digifacewide.ttf);
}
/*旋转动画*/
@keyframes rotate {
  0% {transform : rotate(0deg);}
  100% {transform : rotate(360deg);}
}

.no-data{
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding-top: 130px;
  display: none;
  position: absolute;
  width: 100%;
}

.common-title {
  font-size: 22px;
  color: #eee;
  text-align: center;
  width: 402px;
  height: 43px;
  line-height: 43px;
  letter-spacing: 40px;
  margin-left: 20px;
  font-style: normal;
}

