/*全市发案*/


.page-left .content .w1230{
  width: 2510px;
  left: 200px;
  background: url(../images/chartBg2.png) no-repeat;
  background-size: 100% 100%;
}

.page-left .content .cityIncidence{
  width: 875px;
}
.page-left .content .cityIncidence .all{
  /*width: 110px;*/
}
.page-left .content .left985{
  left: 985px;
}
.page-left .content .left1900{
  left: 1900px;
}
.page-left .content .left1495{
  left: 1495px;
}
#fabTop5,
#pfbTop5 {
  display: none;
}
.page-left .content .casing-top5 .fp-all {
  background: url(../images/alldef.png) no-repeat;
  background-size: 100% 100%;
  width: 160px;
}