{{#each this}}
  <div class="ali-content-item">
    <a href={{href}} target="_blank">
      <div class="item-box">
        <div class="img-area">
          <img src="{{imgUrl}}" > 
        </div>
        <div class="box-header">
          <p>{{title}}</p>
        </div>
      </div>
    </a>
  </div>
{{/each}}
<div class="clr"></div>