* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*公共布局*/
body {
  font-family: "微软雅黑";
  background-size: 100% 100%;
  transform-origin: 0px 0px 0px;
  overflow: hidden;
  width: 10368px;
  height: 3888px;
  position: relative;
  background: #041133;
}

div {
  width: 10368px;
  height: 1944px;
}

iframe {
  float: left;
}

input {
  width: 200px;
  height: 200px;
  background: red;
}