body{
	width: 2475px;
	height: 928px;
}

.re{position: relative;}
.ab{position: absolute;}

.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}

.clearfix:after{ display: block; content: ""; clear: both; height: 0; line-height: 0; font-size: 0;}  /*清除浮动*/
.els{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;} /*省略*/

.page-left,
.page-center,
.page-right{
  position: absolute;
}

/*公用大标题样式更改*/
.title {
	border: 0;
}
.title .tit-more {
	margin-top: 16px;
	padding: 0;
	width: 60px;
	height: 30px;
	line-height: 30px;
	color: #bbc7fb;
	text-align: center;
	border-radius: 4px;
	background: #2d4dd8;
	background: -moz-linear-gradient(top, #2d4dd8 0%, #0d2488 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d4dd8), color-stop(100%,#0d2488)); 
	background: -webkit-linear-gradient(top, #2d4dd8 0%,#0d2488 100%); 
	background: -ms-linear-gradient(top, #2d4dd8 0%,#0d2488 100%); 
	background: linear-gradient(to bottom, #2d4dd8 0%,#0d2488 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4dd8', endColorstr='#0d2488',GradientType=0 ); 
	cursor: pointer;
}
.title .icon-more{
	position: relative;
	top: -10px;
}

.page-left {
	padding-left: 30px;

	width: 475px;
	height: 898px;
	padding-top: 30px;

		
}
/*已结案件变量统计 zhq*/
.closed-page {
	height: 320px;
	margin-left: -20px;
}

/*表格样式*/
.time-month {
	width: 438px;
	font-size: 22px;
	text-align: center;
	color: #6d85ff;
	height: 265px;
	margin-top: 50px;
}
.time-month .tab-title{
	padding-bottom: 10px;
	line-height: 22px;
	color: #5e98cd;
	border-bottom: 1px solid #637dff;
}
.time-month li{
	overflow: hidden;
	
}
.month-count li{
	margin-top: 8px;
}
.time-month span {
	display: inline-block;
	float: left;
	width: 19%;
}

.time-month li span:nth-child(1){
	width: 24%;
}
.time-month li .day {
	color: #6db9ff;
}
.time-month li b{
	color: #e70c35;
}
/*按季度统计*/
.time-quarter .sup-num {
	width: 99px;
	border: 1px solid #1c38af;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
}
.sup-num-name {
	height: 100px;
	width: 99px;
	font-size: 26px;
	color: #d1e9ff;
	border-bottom: 1px solid #1c38af;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #2d4dd8;
	background: -moz-linear-gradient(top, #2d4dd8 0%, #0d2488 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d4dd8), color-stop(100%,#0d2488)); 
	background: -webkit-linear-gradient(top, #2d4dd8 0%,#0d2488 100%); 
	background: -ms-linear-gradient(top, #2d4dd8 0%,#0d2488 100%); 
	background: linear-gradient(to bottom, #2d4dd8 0%,#0d2488 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4dd8', endColorstr='#0d2488',GradientType=0 ); 
}
.sup-num-name span {
	position: relative;
	top: 15px;
	display: inline-block;
	width: 52px;
}
.sup-num-val {
	height: 80px;
	line-height: 76px;
	font-size: 36px;
	color: #fff;
	background: rgba(13, 37, 136, 0.4)
}
.time-quarter {
	
	margin-top: 50px;
	height: 188px;
}
.time-quarter .time-month {
	margin-top: -35px;
	margin-left: 3px;
	width: 338px;
	color: #00f0ff;
	height: 220px;
	
}
.time-quarter .time-month li{
	padding: 7px 0;
	border-bottom: 1px solid #637dff;
	background: url(../images/sup-time-bg.png) repeat-y;
}
.time-quarter .time-month .tab-title {
	padding-bottom: 10px;
}
.time-quarter .time-month .day {
	color: #4996dc;
}
.time-quarter .time-month li:nth-child(1) {
	background: none;
}
.time-quarter .time-month li span:nth-child(1) {
	width: 50%;
}
.time-quarter .time-month span {
	width: 25%;
}
/*页面中间部分*/
.page-center {
	width: 1450px;
	height: 870px;
	top: 30px;
	left: 480px;
	border-left: 1px solid #0e4d87;
	border-right: 1px solid #0e4d87;
	padding-left: 50px;
}
/*各类型总数  zhq*/
.page-center .typeTotal{
	width: 100%;
	height: 205px;
}
.type-charts{
	position: absolute;
	top: 0px;
}
.page-center .typeTotal .type-chart {
	width: 164px;
	height: 164px;
	float: left;
	margin-right: 20px;
	position: relative;
}
.page-center .typeTotal .type-chartbg {
	background: url(../images/postSupervision/topPiebg.png) no-repeat;
	width: 164px;
	height: 164px;
	position: absolute;
	 animation:rotate 10s infinite linear;
  -webkit-animation:rotate 10s infinite linear; 
  transform-origin:50% 50%;
}
.page-center .typeTotal .center-chart {
	position: absolute;
	left: 641px;
	top: 50px;
}
.page-center .typeTotal .center-chart.left720 {
	left: 780px;
}
.page-center .typeTotal .center-chart.left820 {
	left: 905px;
}
.ml25{
	margin-left: 25px;
}
.ml30{
	margin-left: 30px;
}
.ml400{
	margin-left: 400px;
}
.ml10{
	margin-left: 10px;
}
.page-center .typeTotal .number{
	color: #fff;
	font-size: 28px;
	position: absolute;
	top: 40px;
	width: 164px;
	text-align: center;
}
.page-center .typeTotal .name{
	color: #5e98cd;
	font-size: 24px;
	position: absolute;
	top: 80px;
	width: 164px;
	text-align: center;
}

/*各部门执法扣分统计*/
.page-center .deduct-page .title{
	float: left;
	width: 30%;
}
.page-center .legend {
	float: left;
	
	color: #5e98cd;
	width: 60%;
	margin-top: 10px;
	font-size: 30px;
}
.page-center .legend div {
	float: left;
	margin-right: 50px;
}
.page-center .legend i{
	background: url(../images/postSupervision/fanjuan.png) no-repeat 0 6px;
	width: 42px;
	height: 26px;
	display: inline-block;
}
.page-center .legend i.anjuan{
	background: url(../images/postSupervision/anjuan.png) no-repeat 0 6px;
}
.page-center .legend .name {
	font-size: 26px;
	padding-left: 10px;
}
.page-center .legend .number {
	color: #fed64b;
	padding:0 5px;
}
.page-center .legend .rate {
	color: #d6e0e8;
	font-size: 20px;
}
/*装订证据材料 /听阅卷/移送*/
/*装订证据材料 /听阅卷/移送*/
.material-count {
	width: 100%;
	height: 415px;
	background: url(../images/postSupervision/legend.png) no-repeat;
	position: relative;
} 
.material-count .materialbg{
	width: 100%;
	height: 435px;
	background: url(../images/postSupervision/materialbg.png) no-repeat;
	position: absolute;
	animation:opacitys 3s infinite linear;
  -webkit-animation:opacitys 3s infinite linear; 
}
.deductCount{
	height: 260px;
	overflow: hidden;
}
/*旋转动画*/
@keyframes opacitys {
  0% {
  	opacity : 0.2;
  	bottom: -10px;
  }
   80% {
  	opacity : 1;
  	bottom: 30px;
  }
  90% {
  	opacity : 0.8;
  	bottom: 30px;
  }
  100% {
  	opacity : 0;
  	bottom: 30px;
  	transform: scale(1.1);
  }
}
 
/*图例*/
.material-count .legend{
	color: #6db9ff;
	font-size: 26px;
	margin:9px 0 0 0;
	float: left;
}
.material-count span{
	margin-left: 70px
}


/*页面右边部分*/
.page-right {
	width: 450px;
	top: 30px;
	right: 20px;
	padding-left: 30px;
}
/*非法操作行为*/
.nonstandard{
/*	padding-top: 90px;*/
	height: 450px;
	overflow: hidden;
	width: 95%;
	float: right;
}
.nonstandard span{
	color: #5e98cd;
  font-size: 26px;
  display: inline-block;
  float: left;
  width: 31%;
  position: relative;
  text-align: left;
  padding-right: 15px;
  height: 50px;
}
.nonstandard li span:nth-child(2) {
  width: 36%;
 
}
.nonstandard li span:nth-child(3) {
  width: 22%;
  text-align: right;
}
.nonstandard li {
  width: 100%;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  color: #5e98cd;
  cursor: pointer;
  float: left;
}
.nonstandard em.groove{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
/*  background: -webkit-gradient(linear, 0 100%,100% 100%, from(#2204a3), to(#831ee1));*/
/*background: -webkit-linear-gradient(left,rgba(121, 26, 68, 0),rgba(121, 26, 68, 1));*/
background: url(../images/nostandard-progress.png) no-repeat left center;
background-size: 100% 100%;
}

/*x轴线*/
.closed-page .axis-x path {
  stroke: #285c81;
  opacity: 1;
}
.informed {
	max-height: 315px;
	overflow: hidden;
	margin-bottom: 35px;
	height: 310px;
}
.informed .title {
	float: none;
}
.informed li{
	position: relative;
	padding: 0 48px;
	font-size: 26px;
	color: #7dd3ff;
	margin-bottom: 5px;
}
.informed .icon-list {
	top: 0;
	left: 0;
}
.informed .icon-see {
	top: 0;
	right: 0;
}

.informed .text {
	width: 80%;
}

.icon-list {
	display: inline-block;
	width: 10px;
	height: 34px;
	background: url(../images/sup-list.png) no-repeat;
}
.icon-see {
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(../images/sup-see.png) no-repeat;
}

.icon-more {
	display: inline-block;
	width: 34px;
	height: 6px;
	background: url(../images/sup-more.png) no-repeat;
}

/*执法通报查看全部*/
.all-enforceLaw{
	line-height: 44px;
	color: #10a0e8;
	font-size: 24px;
	overflow-y: auto;
	width: 98%;
	height: 672px;
}
/*---滚动条大小--*/  
.all-enforceLaw::-webkit-scrollbar{  
   width: 5px;  
   height: 10px;  
}  
/*---滚动框背景样式--*/  
.all-enforceLaw::-webkit-scrollbar-track{  
   background-color:#051848;  
   -webkit-border-radius: 5px;  
}
/*---滚动条默认显示样式--*/  
.all-enforceLaw::-webkit-scrollbar-thumb{  
   background-color:#fff;  
   height:10px;
   -webkit-border-radius: 20px;  
}
.enforceLaw-bg .model-body {
	background: url(../images/allbg.png) no-repeat;
	top: 50px;
	left: 50%;
	width: 883px;
	height: 772px;
	/*margin-top: -386px;*/
	margin-left: -441px;
	text-align: left;
}
.enforceLaw-bg .title{
	background: url(../images/all-titlebg.png) no-repeat;
	height: 52px;
	width: 805px;
	font-size: 26px;
	color: #a9cdff;
	margin: 8px 0 0 12px;
	padding-left: 55px;
}
.enforceLaw-bg .close-model, 
.czxw-bg .close-model{
	top: 42px;
	right: 787px;
}
.all-enforceLaw li {
	border-bottom: 1px solid #2655a3;
	margin-left: 5%;
	width: 90%;
}
.all-enforceLaw li:first-child{
	font-size: 26px;
	color: #a9cdff;
	line-height: 50px;
}
.all-enforceLaw li:first-child a{
	color: #a9cdff;
}
.all-enforceLaw a {
	font-style: normal;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	color: #10a0e8;
}
.all-enforceLaw a:hover{
	color: #fff;
}
/*非规范操作行为*/
.czxw-bg .model-body{
	background: url(../images/show-all.png) no-repeat;
	width: 860px;
	height: 775px;
	margin-left: -430px;
	top: 50px;
}
.czxw-bg .title {
	text-align: left;
	margin: -2px 0 0 12px;
	padding-left: 55px;
}
.czxw-bg .title span{
	color: #ff7a93;
	text-shadow: 0 0 0;
}
.czxw-ul {
	line-height: 52px;
	width: 300px;
	font-size: 24px;
	color: #10a0e8;
	text-align: left;
	padding-left: 60px;
	float: left;
}
.czxw-ul:last-child{
	margin-left: 70px;
}
.czxw-ul li:first-child,
.czxw-ul li:first-child span{
	color: #5e98cd;
}
.czxw-ul span{
	color: #ff7a93;
	float: right;
}




