* {
  padding: 0;
  margin: 0;
}

.police-chart .axis-x path, 
.external-chart .axis-x path,
.controll-chart .axis-x path,
.check-case-chart .axis-x path{
  stroke: #285c81;
}

.controll-chart .axis-x path {
  stroke: #ac2ed3;
  stroke-width: 2;
}

.controll-chart .axis-x path, 
.controll-chart .axis-x line{
  stroke: #ac2ed3;
  shape-rendering: crispEdges;
  opacity: 0.5;
}

.page-left {
  position: absolute;
  width: 611px;
  height: 928px;
  left: 0;
  top: 0;
}

.page-left .case-handing {
  height: 393px;
}
.case-handing .show-total {
  position: absolute;
  font-size: 24px;
  color: #fff;
  background: #5e98cd;
  padding:2px 8px;
  border-radius: 3px;
  top: 190px;
  z-index: 11;
  display: none;
  width: 145px;
}

.page-left .object-handing {
  height: 500px;
}

.object-handing-chart {
  position: absolute;
  left: 64px;
  width: 545px;
  height: 425px;
  background: rgba(5, 0, 233, .2);
}
.object-handing-chart .legend{
  color: #b617cf;
  font-size: 24px;
  position: absolute;
  right: 0px;
  line-height: 32px;
}
.object-handing-chart .legend p{
  float: left;
  margin-right: 40px;
}
.object-handing-chart .legend p:first-child{
  color: #00e9f1;
}
.object-handing-chart .legend p:first-child i{
  background: #00e9f1;
}
.object-handing-chart .legend i{
  width: 60px;
  height: 2px;
  background: #b617cf;
  display: inline-block;
  margin-right: 15px;
  margin-top: 16px;
  float: left;
}

.case-acceptance {
  background: rgba(53, 19, 147, 0.12);
  width: 273px;
  height: 284px;
  position: absolute;
}

.case-handing .case-criminal {
  left: 35px;
}

.text-precent {
  width: 100%;
  height: 57px;
  font-size: 22px;
  color: #6172ff;
  line-height: 57px;
  text-align: center;
}

.text-precent .local-text {
  color: #c00cee;
}

.case-criminal-svg, .case-intelligence-svg {
  position: absolute;
  width: 263px;
  height: 226px;
}

.case-handing .case-intelligence {
  right: 0px;
}

.mt30-mb18{
  margin: 30px 0 18px 0;
}

.module-title {
  height: 50px;
  border-top: 1px solid #3c6a99;
  font-size: 32px;
  line-height: 50px;
}
.number-library .module-title,
.check-case .module-title {
  border: none;
}

.top30-noborder {
  position: relative;
  top: 30px;
  border: none;
}

.module-title .text {
  color: #5e98cd;
}

.module-title .number {
  color: #fff;
}

.module-title .module-title-icon {
  background: url(../images/sourceControll/case-handing-icon.png) no-repeat;
  width: 14px;
  height: 16px;
  display: inline-block;
  margin-left: 32px;
}

.case-acceptance .text{
  position: absolute;
  font-size: 26px;
  color: #64b4ff;
  text-align: center;
  /*width: 263px;*/
  line-height: 226px;
  height: 226px;
  z-index: 10;
  cursor: pointer;
  margin-left: 105px;
}
.case-acceptance .rotatebg{
  background: url(../images/pieBg.png) no-repeat center center;
  width: 263px;
  height: 226px;
  position: absolute;
  animation:rotate 5s infinite linear;
  -webkit-animation:rotate 5s infinite linear; 
}

/*页面中间部分CSS*/
.page-center {
  position: absolute;
  width: 1195px;
  height: 928px;
  top: 0;
  left: 649px;
}

.page-center .total-info {
  height: 143px;
}

.total-count {
  position: relative;
  float: left;
  width: 242px;
  height: 73px;
  top: 30px;
}

.total-count i {
  width: 10px;
  height: 68px;
  display: inline-block;
  line-height: 73px;
}

.total-count span {
  position: absolute;
  left: 36px;
  font-size: 26px;
  color: #e3edf6;
}
.total-count .total-name {
    top: 0px;
}

.total-count .total-number {
    font-size: 36px;
    top: 35px;
}

.count-icon0 i {
  background: url(../images/sourceControll/icon0.png) no-repeat;
}

.count-icon1 i,
.count-icon4 i {
  background: url(../images/sourceControll/icon1.png) no-repeat;
}

.count-icon2 i,
.count-icon3 i {
  background: url(../images/sourceControll/icon2.png) no-repeat;
}

.total-count:last-child {
  width: 225px;
}

.page-center .system-controll {
  height: 459px;
  background: url(../images/sourceControll/system-controll-bg.png) no-repeat;
}

.controll-chart {
  position: relative;
  height: 399px;
}

.controll-chart .axis-x text,
.person-controll .axis-x text {
  font-family: 微软雅黑;
  font-size: 22px;
  stroke: 2;
  fill: #5e98cd;
}

.page-center .police-investigation {
  float: left;
  width: 595px;
  height: 326px;
}

.page-center .external-investigation {
  float: left;
  width: 600px;
  height: 326px;
}

.mt20-noborder {
  margin-top: 10px;
  border: none;
}

.mt10 {
  margin-top: 10px;
}

.police-chart, .external-chart {
  /*height: 275px;*/
}

.page-right {
  position: absolute;
  top: 0;
  left: 1864px;
  width: 611px;
  height: 928px;
}

.page-right .person-controll {
  height: 256px;
}

.person-controll-chart {
  height: 188px;
}

.page-right .number-library {
  /*height: 347px;*/
}

.number-library-chart {
  /*height: 289px;*/
}

.page-right .check-case {
  height: 210px;
}

.check-case-chart {
  height: 160px;
}
