* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1em;
}

.caseNature {
    display: block;
    overflow: hidden;
    padding: 100px 122px;
}

.caseNature .nature-box {
    height: 100px;
    width: 100%;
    margin-bottom: 24px;
    font-size: 35px;
}

.caseNature .nature-box div {
    display: inline-block;
    text-align: center;
    line-height: 80px;
    color: #ffffff;
}

.caseNature .nature-box div:first-child {
    width: 270px;
    border: 1px solid #295e92;
}

.caseNature .nature-box div:last-child {
    width: 540px;
    background: -webkit-linear-gradient(rgba(12, 34, 84, 0.7), rgba(11, 33, 83, 0.7));
}

.caseNature .nature-box div:last-child span:first-child {
    font-family: digifacewide;
    letter-spacing: 5px;
    font-size: 50px;
    color: currentColor;
}

.caseNature .nature-box div:last-child span:last-child {
    font-size: 28px;
    color: #ffffff;
    margin-left: 20px;
}

.caseNature .nature-box:first-child div:first-child {
    background: -webkit-linear-gradient(#7747f5, #a63df1);
}

.caseNature .nature-box:first-child div:last-child {
    background: -webkit-linear-gradient(rgba(31, 21, 74, 0.7), rgba(32, 21, 77, 0.7));
}

.caseNature .nature-box:nth-child(2) div:first-child {
    background: -webkit-linear-gradient(#4b47f6, #4790f6);
}

.caseNature .nature-box:nth-child(2) div:last-child {
    background: -webkit-linear-gradient(rgba(23, 20, 73, 0.7), rgba(23, 25, 84, 0.7));
}

.caseNature .nature-box:nth-child(3) div:first-child {
    background: -webkit-linear-gradient(#cc661b, #b1541b);
}

.caseNature .nature-box:nth-child(3) div:last-child {
    background: -webkit-linear-gradient(rgba(22, 30, 79, 0.7), rgba(22, 33, 79, 0.7));
}

.caseNature .nature-box:first-child div:last-child span:first-child{
    color: #fa4685;
}
.caseNature .nature-box:nth-child(2) div:last-child span:first-child{
    color: #ad8cff;
}
.caseNature .nature-box:nth-child(3) div:last-child span:first-child{
    color: #ff852f;
}
.caseNature .nature-box:nth-child(4) div:last-child span:first-child{
    color: #04faeb;
}
.caseNature .nature-box:last-child div:last-child span:first-child{
    color: #6ab7ff;
}

.focusOnCases{
    margin-top: 50px;
}