body{
  
  position: relative;
  font-family: "微软雅黑";
}
.main{
  background: url('../images/bodyBg.png') no-repeat;
  background-size: 100% 100%;
}
/*美化滚动条*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #8cbfed;
   font-family: "微软雅黑";
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #8cbfed;
    font-family: "微软雅黑";
}
::-webkit-scrollbar {
      width: 5px;
  } /* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-track {
      background-color: #996e11;
  } /* 滚动条的滑轨背景颜色 */

  ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
  } /* 滑块颜色 */

  ::-webkit-scrollbar-button {
      background-color: #996e11;
  } /* 滑轨两头的监听按钮颜色 */

  ::-webkit-scrollbar-corner {
      background-color: black;
  } /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
html,body {
  scrollbar-face-color:#083495; /*滚动条3D表面（ThreedFace）的颜色*/ 
  scrollbar-highlight-color:#071b56; /*滚动条3D界面的亮边（ThreedHighlight）颜色*/ 
  scrollbar-shadow-color:#071b56; /*滚动条3D界面的暗边（ThreedShadow）颜色*/ 
  scrollbar-3dlight-color:#071b56; /*滚动条亮边框颜色*/ 
  scrollbar-arrow-color:#083495; /*滚动条方向箭头的颜色 */ 
  scrollbar-track-color:#011957; /*滚动条的拖动区域(TrackBar)颜色*/
  scrollbar-darkshadow-color:#071b56; /*滚动条暗边框（ThreedDarkShadow）颜色*/ 
}

input:-ms-input-placeholder{
  color: #8cbfed;
  font-family: "微软雅黑";
}

input::-webkit-input-placeholder{
  color: #8cbfed;
  font-family: "微软雅黑";
}
.top{
  height: 80px;
  width: 100%;
  float: left;
}

.configWord{
  position: absolute;
  right: 40px;
  top: 20px;

  width: 220px;
  height: 45px;
}
.configWord a{
  width: 100%;
  height: 45px;
  display: block;
  cursor: pointer;
}
.left{
  width: 1100px;
  height: 900px;
  position: absolute;
  top: 100px;
  left: 90px;

}
.search{
  width: 361px;
  height: 57px;
  background: url(../images/searchBg.png) no-repeat;
  position: absolute;
  top: 20px;
}
.search input{
  background: none;
  border: none;
  outline: none;
  font-family: '微软雅黑'
}
.search input[type='text']{
  height: 36px;
  color: #8cbfed;
  font-size: 20px;
  margin:8px 0 0 60px;
  width: 200px;
}
.search input[type='button']{
  float:right;
  width: 50px;
  height: 36px;
  margin:8px 15px 0 0;
  cursor: pointer;
}

/* tagscloud */
#tagscloud {
  position: absolute;
  font-size: 12px;
  color: #333;
  text-align: center;
  width: 100%;
  height: 800px;
  top: 95px;
}

#tagscloud a {
  text-decoration: none;
  /*margin: 3%;*/
  line-height: 18px;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  border-radius: 1px;
  cursor: pointer;
  opacity: 0.08;
  position: absolute;
  top: 950px;

  
}
/*接处警*/
#tagscloud a.tagc1 {
  /*background: rgba(41, 192, 222, 0.5);*/
  color: #fff;
  font-size: 42px;
  padding: 14px 16px;
  
}
/*动大动态*/
#tagscloud a.tagc2 {
  /*background: rgba(243, 59, 87, 0.5);*/
  color: #00b3ce;
  padding: 12px 36px;
 font-size: 38px;


}
#tagscloud a.tagc3 {
 /*background: rgba(0, 59, 117, 0.8);*/
 color: #f33b50;
 padding: 12px 14px;
 font-size: 34px;
}



#tagscloud a.tagc1:hover{
  color: #fff;
  /*background: rgba(41, 192, 222, 1);*/
}
#tagscloud a.tagc2:hover {
  /*background: rgba(243, 59, 87, 1);*/
  color: #00b3ce;
}
#tagscloud a.tagc3:hover {
 /*background: rgba(0, 59, 117, 1);*/
  color: #f33b50;
}


#tagscloud a.scale{
   animation:scale 12s infinite ease;
  -webkit-animation:scale 12s infinite ease; /*Safari and Chrome*/

}

#tagscloud a.scale2{
   animation:scale2 18s infinite ease;
  -webkit-animation:scale2 18s infinite ease; /*Safari and Chrome*/

}
#tagscloud a.stop{
  opacity: 1;
  transform:scale(1.2)/* translate3d(0, -25%,0)*/;
  /*-webkit-backface-visibility:hidden*/
}

@keyframes scale
{
  0%{
    opacity: 0.1;
    transform:scale(0.2) /*translate3d(0%,0,0)*/;
  }
  30% {
    opacity: 0.5;
    transform:scale(0.6) /*translate3d(0%, -20%,0)*/;
  }
  70%{
    opacity: 1;
    transform:scale(1.2) /*translate3d(0%, -35%,0)*/;
  }
  80%{
    opacity: 1;
    transform:scale(1.2) /*translate3d(0%, -68%,0)*/;
  }
  90%{
    opacity: 0.5;
    transform:scale(1) /*translate3d(0%, -88%,0)*/;
  }
  95% {
    opacity: 0.2;
    transform:scale(0.6) /*translate3d(0%, -88%,0)*/;
  }
  100% {
    opacity: 0;
    transform:scale(0.2) /*translate3d(0%, -88%,0)*/;
     /*top: 100px;*/
     /*left: 200px;*/
  }
}

@keyframes scale2
{
  0%{
    opacity: 0.1;
    transform:scale(0.2) /*translate3d(0%,0,0)*/;
  }
  25% {
    opacity: 0.5;
    transform:scale(1) /*translate3d(0%, -25%,0)*/;
  }
  50%{
    opacity: 1;
    transform:scale(1.2) /*translate3d(0%, -50%,0)*/;
  }

  75%{
    opacity: 0.5;
    transform:scale(1) /*translate3d(0, -75%,0)*/;
  }
  100% {
    opacity: 0.1;
    transform:scale(0.2) /*translate3d(0, -75%,0)*/;
    
    /*top: 120px;
    left: 900px;*/
  }
}

/*right 热词排行榜*/
.right{
  position: absolute;
  right: 30px;
  top: 150px;
  /*width: 600px;
  height: 790px;*/
  width: 623px;
  height: 852px;
  background: url(../images/top15Bg.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.right .list {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 623px;
  height: 852px;
  background-size: 100% 100%;
  animation: list-animation 8s infinite linear 2s reverse;
  -webkit-animation: list-animation 8s infinite 2s linear reverse;
}
.right .trendnum{
  position: absolute;
  right: 10px;
  padding: 5px;
  background: #031d58;
  border: 1px solid #519ec8;
  color: #fff;
  font-size: 14px;
  display: none;
}

@keyframes list-animation {
 90% {
   top: 0px;
   opacity: 1;
 }
 92% {
   top: 50px;
   opacity: 0.5;
 }
 95% {
   top: 150px;
   opacity: 0.3;
 }
 98% {
   top: 250px;
   opacity: 0.2;
 }
 100% {
   top: 350px;
   opacity: 0.1;
 }
}

.rankingList{
  font-size: 22px;
  /*font-family: Arial;*/
  color: #fff;
  margin: 90px 0 0 40px;
  height: 620px;
  width: 95%;
}
.rankingList i{
  font-style: normal;
  display: block;

}
.rankingList tr{
  line-height: 46px;
  height: 46px;
  cursor: pointer;
  width: 92%;
  float: left;
}
.rankingList td{
  float: left;
}
.rankingList td.txt:hover{
  color: #00f0ff;
}
.rankingList td.num{
  color: #00f0ff;
  font-size: 20px;
  width: 25%;
  text-align: right;
  margin-right: 10px;
  float: right;
  
}
.rankingList td.num span{
  font-size: 14px;
  padding-left: 10px;
}
.rankingList td.w5{
  width: 8%;
  margin-right: 4%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-top: 8px;
}
.rankingList td.w50{
  width: 50%;
}
.rankingList td.w10{
  width: 10%;
}
.rankingList td.w15{
  width: 15%;
}
.rankingList td.icon{
  width: 22px;
  height: 22px;
  display: block;
  margin-top: 10px;
  float: right;

}
.rankingList td.icon_up{
  background: url(../images/iconUp.png) no-repeat center right;
}
.rankingList td.icon_down{
  background: url(../images/iconDown.png) no-repeat center right;
}
.rankingList td.icon_flat{
  background: url(../images/iconFlat.png) no-repeat center right;
  margin-top: 20px;
}
.rankingList .top1{
  background: url(../images/icon04.png) no-repeat center center;
  height: 30px;
}
.rankingList .top2{
  background: url(../images/icon05.png) no-repeat center center;
  height: 30px;
}
.rankingList .top3{
  background: url(../images/icon06.png) no-repeat center center;
  height: 30px;
}
.currentTime{
  position: absolute;
  color: #fff;
  font-size: 34px;
  bottom: 20px;
  right: 30px;
}
/*弹窗*/
.popup{
  width: 120px;
  background: url(../images/bg_03.png) no-repeat;
  background-size: 100% 100%;
  width: 587px;
  height: 702px;
  position: absolute;
  right: 550px;
  top: 220px;
  z-index: 1002;
  display: none;
}
.popup .topTime{
  color: #f3ce4e;
  font-size: 18px;
  position: absolute;
  top: 40px;
  left: 30px;
}
.popup .close{
  width: 50px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.popup .nav{
  width: 90%;
  position: absolute;
  z-index: 100;
  top: 80px;
  left: 30px;
  font-size: 16px;
  max-height: 90px;
  overflow: auto;
  border-bottom: 2px solid #cdad00;
  padding-bottom: 10px;
}

.popup .nav li{
  width: 90px;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  background:rgba(211, 164, 22, 0.3);
  border:1px solid #996e11;
  text-align: center;
  color: #e5b423;
  float: left;
  margin: 10px 10px 0 0;
  cursor: pointer;
}
.popup .nav li.cur{
  color: #fff;
  background: #d3a418;
  border:1px solid #f5cb3a;
}
.popup .bottomCount{
  bottom: 25px;
  position: absolute;
  left: 30px;
  width: 100%;
}
.popup .total{
  font-size: 16px;
  color: #f3ce4e;
  float: left;
  
  width: 100%;
}
.popup .total span{
  font-size: 14px;
  padding-left: 5px;
}
.popup .overstep{
  background: #c79408;
  padding: 5px;
  border:1px solid #f5cb3a;
  color: #fff;
  position: absolute;
  /*display: none;*/
  z-index: 101;
}
.leftTop{
  position: absolute;
  top: 31px;
  left: 458px;
  z-index: 90;

}

.leftTop .text{
  background: rgba(213, 187, 34, 0.8);
  font-size: 20px;
  color: #fff;
  display: none;
  border:1px solid #f5cb3a;
  float: left;
  padding: 10px;
}
.drawLine{
  float: left;
  margin-top: 10px;

}
.popup .page{
  /*width: 70%;*/
  float:left;
  line-height: 32px;
  color: #78b0f5;
  margin-left: 5px;
}
.popup .page a.invalid{
  color: #ccc
}
.popup .page a.invalid:hover{
 color: #ccc;
 background: none;
 cursor: default;

}
.popup .page a{
  padding: 0 3px;
  cursor: pointer;
}
.popup .page a:hover{
  background: #5984bc;
  color: #fff;
}
.popup .page a.cur{
  background: #5984bc;
  color: #fff;
}
.popup .page .goto{
  line-height: 30px;
  margin-right: 3px;
}
.popup .page input{
  width: 35px;
  border: 1px solid #2762af;
  background: #031942;
  color: #fff;
  height: 26px;
  outline: none;
  font-family: '微软雅黑'
  
}
.popup .page input[type="text"]{
  font-size: 16px;
  margin-right: 5px;
}
.popup .page input[type="button"]{
  padding: 0 5px;
  font-size: 16px;
  width: 50px;
  cursor: pointer;
  height: 26px;
  font-family: '微软雅黑'
}
.popup .page input:hover[type="button"]{
  background: #13275b;
}

.line{
  background: url(../images/icon07.png) no-repeat top left;
  width: 180px;
  height: 230px;
}
/*详情列表*/
.detailsBox{
  position: absolute;
  top: 160px;
  left: 40px;
  width: 87%;
  font-size: 16px;
}
.detailsList{
  border-bottom: 1px dashed #506283;
  padding-bottom: 5px;
  margin: 5px 0;
}
.detailsBox li{
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  /*cursor: pointer;*/
}
.detailsList li a{
  color: #7ba7f0;
}
.detailsBox .ajNum{
  background: url(../images/numIcon.png) no-repeat left center;
  height: 32px;
  color: #fff;
  
  padding-left: 25px;
}
.detailsBox .ajSource{
  color: #949494;
  width: 100%;
}
.detailsBox .sourceTime{
  float: right;
  font-size: 14px;
}
.sourceDetail{
  color: #7ba7f0;
}


/*搜索下拉列表*/
.search-list{
  width: 240px;
  background: #001854;
  border:1px solid #2966b8;
  font-family: '微软雅黑';
  padding: 10 0px;
  margin: 5px 0 0 0px;
  position: absolute;
  z-index: 1000;
  left: 65px;
  max-height: 500px;
  overflow-y: auto;
  display: none;
}
.search-list a{
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  padding: 5px 10px;
}
.search-list a:hover{
  background: #001549;
}
.ui-widget-content{
  background: #011854;
  border: 1px solid #4095ff;
}

/*短语提示*/
.phraseTooltip{
  color: #fff;
  position: absolute;
  line-height: 28px;
  width: 500px;
  font-size: 16px;
  background: rgba(0, 22, 66, 0.9);
  padding: 10px;
  z-index: 1005;
  right: 580px;
  display: none;
  border-radius: 2px;
  border:1px solid #eee;
}
.phraseTooltip a{
  color: #7ba7f0
}
/*无数据*/
.nodata{
  font-size: 24px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  display: none;
}

.detailsBox .nodata{
  font-size: 20px;
  margin-top: 20%;
  left: 45%;
}
