* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1em;
}

.box-model {
  width: 3456px;
  height: 1944px;
  background: url("../../images/sheqing/xinJiang/bg.png");
}

.box-model .box-title {
  width: 100%;
  height: 238px;
  background: url("../../images/sheqing/xinJiang/title.png");
}

.box-model .box-title .date {
  font-size: 60px;
  color: #fffa9e;
  float: right;
  margin-right: 80px;
  line-height: 120px;
}

.box-model .box {
  height: 1630px;
  display: block;
  overflow: hidden;
  padding-left: 68px;
  padding-right: 68px;
}

.box-model .box li.small {
  display: inline-block;
  vertical-align: top;
  width: 1059px;
  height: 775px;
  margin-right: 43px;
  background: url("../../images/sheqing/xinJiang/box-bg-small2.png") center / 100%;
}

.box-model .box li.own {
  background: url("../../images/sheqing/xinJiang/box-bg-small.png") center / 100%;
}

.box-model .small.own .content {
  width: 951px;
  height: 74px;
  margin: 80px auto 0;
  background: url("../../images/sheqing/xinJiang/pop-box-bg.png");
}

.box-model .content span {
  display: block;
  width: 280px;
  height: 82px;
  line-height: 74px;
  font-size: 36px;
  text-indent: 1.2em;
  color: #04faec;
}

.box-model .box li.own span {
  text-align: center;
  text-indent: 0;
  display: inline-block;
}

.box-model .content span:last-child {
  width: 493px;
}

.box-model .box li.large {
  display: block;
  width: 3321px;
  height: 775px;
  margin: 80px auto 0;
  background: url("../../images/sheqing/xinJiang/box-bg-large.png");
}

.box-model .popCatStatistics {
  width: 951px;
  height: 523px;
  margin: 20px 55px;
}

.box-model .popCatStatistics .text-bg {
  fill: #0a1837;
  fill-opacity: 0.8;
}

.box-model .popCatStatistics .text-title {
  fill: #ffffff;
  text-anchor: middle;
  font-size: 36px;
}

.box-model .popCatStatistics .text-line {
  stroke: #2ac0ff;
  stroke-width: 3
}

.box-model .popCatStatistics .text-value {
  font-size: 36px;
  fill: #00fff0;
  text-anchor: end;
  font-family: digifacewide;
}

.box-model .large .content span,
.box-model .small:not(:first-child) .content span {
  font-size: 42px;
  color: #04faec;
  width: 100%;
  margin-top: 39px;
}

.box-model .large .content span {
  padding-top: 35px;
}

.box-model .regPerDistribution {
  width: 3220px;
  height: 600px;
  margin: 13px 55px;
}

.box-model .regPerDistribution .axis {
  fill: none;
  stroke: #57689d;
  stroke-width: 2;
  font-size: 42px;
}

.box-model .regPerDistribution .x .tick text {
  fill: #a1e8ff;
  font-size: 36px;
}

.box-model .regPerDistribution .y .grid-line {
  fill: #48588c;
  stroke-width: 1;
  stroke-dasharray: 4, 2
}

.box-model .regPerDistribution .y .tick text {
  fill: #8a8a8a;
  font-size: 37px;
}

.box-model .regPerDistribution .y .tick:first-child .grid-line,
.box-model .regPerDistribution .tick line:not(.grid-line),
.box-model .regPerDistribution .y .domain {
  opacity: 0;
}

.box-model .perTypeRatio,
.box-model .vehDistribution {
  width: 966px;
  height: 575px;
  
}

.box-model .perTypeRatio {
  position: relative;
}

.box-model .perTypeRatio .ptr-circle {
  position: absolute;
  top: 30px;
  left: 297px;
  width: 464px;
  height: 464px;
  background: url("../../images/sheqing/xinJiang/ptr.png") no-repeat center;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -moz-transform: rotate(0deg); /* Firefox */
    -webkit-transform: rotate(0deg); /* Safari ºÍ Chrome */
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); /* IE 9 */
    -moz-transform: rotate(360deg); /* Firefox */
    -webkit-transform: rotate(360deg); /* Safari ºÍ Chrome */
    -o-transform: rotate(360deg);
  }
}

.box-model .perTypeRatio svg {
  background: url("../../images/sheqing/xinJiang/ptr-center.png") no-repeat center;
  margin: -90px 20px 0;
}

.box-model .perTypeRatio tspan:first-child {
  font-size: 84px;
  font-family: "Agency FB";
  font-weight: 600;
}

.box-model .perTypeRatio tspan:last-child {
  font-size: 48px;
}

.box-model .junctionName {
  position: relative;
  margin-left: 20px;
}

.box-model .junctionName .tool-tip {
  position: absolute;
  display: inline-block;
  height: 60px;
  text-align: center;
}

.box-model .junctionName .tool-tip:before {
  display: block;
  content: '';
  width: 120%;
  height: 120%;
  margin-top: -10%;
  margin-left: -10%;
  background: url('../../images/sheqing/personFlow/picture1.png') no-repeat center / 100% 100%;
  filter: blur(10px);
}

.box-model .junctionName .tool-tip span {
  color: #ceffff;
  position: relative;
  padding: 5px 20px;
  top: -50px;
  font-size: 32px;
  border: 1px solid #0fbeff;
}

.junctionName svg {
  margin-left: -140px;
}

.box-model .junctionName .domain {
  fill: none;
  stroke: #5e98cd;
  stroke-width: 1px;
}

.box-model .junctionName .tick text {
  fill: #5e98cd;
  font-size: 36px;
  cursor: default;
}